body {
    margin:0;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    align-items: center;
}

#container {
    border: 2px solid black;
    height: 865px;
    width: 865px;
    display:flex;
    flex-wrap:wrap;
}

.squarediv {
    box-sizing: border-box;
    border: 2px solid red;
    height: 50px;
    width: 50px;
    margin: 0;
}

.squarediv:hover {
    background-color: blue;

}
